@import "~azure-devops-ui/Core/_platformCommon.scss";

.bolt-tabbar-tabs {
    font-size: $fontSizeM;
    margin-bottom: 10px;
    font-family: "Segoe UI VSS (Regular)","Segoe UI","-apple-system",BlinkMacSystemFont,Roboto,"Helvetica Neue",Helvetica,Ubuntu,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  }

  html, body {
    background-color: transparent !important;
    margin: 0;
    padding: 0;
  }

  .wide {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 96%;
    border: 1px solid #ddd;
    background-color: #F8F8F8;
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, .05);
  }

  #protractor-ext-message p, .wide p {
    padding: 0;
    margin: auto 0;
    font-family: arial, serif;
    text-align: center;
    position: relative;
    top: 50%;
    color: #ccc;
    font-size: 30px;
  }

  .error-badge {
    background-image: url("../icon.png");
    width: 100px;
    height: 100px;
    display: none;
    position: relative;
    margin: auto;
    top: 45%;
  }

  .spinner {
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    border-top: 5px solid #E32E34;
    border-radius: 50%;
    position: relative;
    top: 45%;
    margin: auto;
    animation: spin 2s infinite linear;
  }

  @keyframes spin {
    from{
      transform: rotate(0deg);
    }to{
      transform: rotate(360deg);
    }
  }