@import "~azure-devops-ui/Core/_platformCommon.scss";

.bolt-tabbar-tabs {
    font-size: $fontSizeM;
    margin-bottom: 10px;
    // font-family: Arial, sans-serif;
    font-family: "Segoe UI VSS (Regular)","Segoe UI","-apple-system",BlinkMacSystemFont,Roboto,"Helvetica Neue",Helvetica,Ubuntu,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  }
